body{
 overflow-x: hidden !important;
 background-color: #010101;
}

#navbar{
  background-color: rgba(0,0,0,1) !important;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#FFFFFF!important;
}
a span{
  color:#FFFFFF !important;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
  background-image: url('../images/pan1.jpg');
  background-size: cover;
  background-attachment:fixed;
}
.navUl{
  padding-right::
}

.main-text {
  color:white!important;
  font-family: 'Montserrat', sans-serif!important;
    position: absolute;
    top: 20vh;
    width: 96.66666666666666%;
    color: #FFF;
}


.dropdown:hover{
  cursor: pointer!important;
}
.dropdown-item:hover{
  background-color: grey!important;
}


.dropdown-menu{
  background-color: black!important;
  color: black!important;
}
.team{
  margin-top: 20vh;
}
/* .slide1{
  background-image: url('../images/pcb3.jpg');
   background-attachment: fixed;
}
.slide2{
  background-image: url('../images/car.jpg');
   background-attachment: fixed;
}
.slide3{
  background-image: url('../images/rail.jpg');
   background-attachment: fixed;
} */
.lead{
  font-family: 'Montserrat', sans-serif;
  font-size:2.4vh!important;
  font-weight: bold!important;
}


/* ---------changes--------- */
.main{

}
.c0{
  background-color: #fff3db!important;
}
.c1{
  background-color:#f7ffd3!important;
}
.c2{
  background-color: #edf9ff!important;
}
.card{
  box-shadow: 1vh 2px 2px #e8e7e5;
  border:1px solid black!important;
  border-radius: 0px!important;
  margin-top: 5vh!important;
  height: 30vh!important;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0vh!important;
}
.contMain{
  font-family: 'Righteous', cursive!important;
  font-size: 15vh!important;
  background-image: url("../images/fb4.jpg");
  background-position: center;
  padding-left: 0vh!important;
  padding-right: 0vh!important;
  color: white!important;
  height: 50vh!important;
  /* position: relative;
  top: 50%; */
}
.contMain0{
  margin-top: 5vh!important;
  font-family: 'Righteous', cursive!important;
  font-size: 15vh!important;
  background-image: url("../images/pan3.jpg");
  background-position: center;
  padding-left: 0vh!important;
  padding-right: 0vh!important;
  color: white!important;
  height: 30vh!important;
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
  /* position: relative;
  top: 50%; */
}
.center0 {
  padding: 30px 0;
  flex: auto;
  /* border: 3px solid black; */
  text-align: center;
}
.about_content{
  padding-top: 10vh;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size:2.2vh!important;
}
.center {
  padding: 100px 0;
  flex: auto;
  /* border: 3px solid black; */
  text-align: center;
}
/* ---------changes--------- */

.foot{
  background-color: rgba(0,0,0,0.6)!important;
  color:white;
}

.pagefooter{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: white;
  padding:4vh;

}
.copyright{
  margin-top: 10vh;
}

/* -------------cards-------------- */
