body{
 overflow-x: hidden !important;
 background-color: white
 color: white!important;
}
#navbar{
  background-color: rgba(0,0,0) !important;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#FFFFFF!important;
}
a span{
  color:#FFFFFF !important;
}
.pagefooter{
  background-image: url('../images/footer.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: white;
  padding:4vh;

}
.copyright{
  margin-top: 10vh;
}

.flexGal{
  margin-top: 10vh !important;
}
.r0{
  background-color: transparent!important;
}
.row2{
  margin-top: -5vh;
}
.c1,.c2,.c3,.c4, .c5,.c6{
  height:30vh!important;
}
.feat1gal{
  margin-top: 2vh;

}
.feat1Head{
  font-size: 5vh;
  color: black;
  font-family: 'Days One', sans-serif !important;
  text-align: center;
  margin-top: 15vh;
}
.c1,.c2,.c3,.c4,.c5,.c6{
  padding: 0vh!important;
  margin: 0vh!important;
  border: 0!important;
  border-radius: 0!important;
  /* -moz-box-shadow:    20px 30px 30px #bab9b8!important;
  -webkit-box-shadow:  20px 30px 30px #bab9b8!important;
  box-shadow:          20px 30px 30px #bab9b8!important; */
}
.c1:hover,.c2:hover,.c3:hover,.c4:hover, .c5:hover, .c6:hover{
  /* font-size: 2.1vh; */
  cursor: pointer;
  /* -moz-box-shadow:    30px 30px 30px #bab9b8;
  -webkit-box-shadow:  30px 30px 30px #bab9b8;
  box-shadow:          30px 30px 30px #bab9b8; */
  transform: scale(1.05);
  transition: 0.5s;

}
.c1{
  background-image: url("../images/ET100.png");
  /* background-attachment: fixed; */
  background-size: contain;
  background-size: cover;
}
.c2{
  background-image: url("../images/ET201.jpg");
  background-size: contain;
  background-size: cover;
}
.c3{
  background-image: url("../images/ET312.jpg");
  background-size: contain;
  background-size: cover;
}
.c4{
  background-image: url("../images/ET442.jpg");
  background-size: contain;
    background-size: cover;
}
.c5{
  background-image: url("../images/ET522.jpg");
  background-size: contain;
    background-size: cover;
}
.c6{
  background-image: url("../images/ETOBD.jpg");
  background-size: contain;
    background-size: cover;
}
.modal{
  background-color: rgba(255,255,255,0.5)!important;
}
.modal-body{
  color: white!important;
}
.modal-content{
  background-color: rgba(255,255,255,1.0)!important;
}

.foot{
  background-color: rgba(0,0,0,0.6)!important;
  color:white;
}
.feat1{
  color: white!important;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
}
.table1Head{
  font-family: 'Days One', sans-serif !important;
  font-size:2.4vh!important;
  /* margin-top: 5vh!important;
  margin-bottom: 3vh!important; */
}
table.highlight tbody tr:hover {
    background-color: #cfd2d6 !important;
}
.thead1{
  background-color: #adccf7!important;
  color: white!important;
  font-weight: bold;
}
.x{
  color: white!important;
}
.clickH{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.clickH:hover{
  cursor: pointer;
  text-decoration: underline!important;
}
.th1{
  background-color: #bbbdbf!important;
}
tr{
  color:black!important;
}
.table1{
  color: white!important;
}
.usp1{
  background-image: linear-gradient(#FFFFFF,#a9c4ce );
  /* width:170vh!important; */

  margin-top: 2vh!important;
}
.sec2{
  background-image: linear-gradient(#a9c4ce, #FFFFFF );
}
.usp1Head{
  font-family: 'Days One', sans-serif !important;
  font-size:3.0vh!important;
  margin-top: 8vh!important;
  margin-bottom: 4vh!important;
  /* width:170vh!important; */
}
.card_usp{
  margin-top: 20vh!important;
  outline: 2px dashed blue;
  padding: 2vh!important;
  background-color: rgb(255,255,255,0.4)!important;
  font-size: 2.2vh!important;
  width: 80%!important;
  margin:0px!important;
  padding: none!important;
}
.card_usp:hover{
  /* transform: scale(1.01); */
  transition: 0.4s;
  /* background-color: #f4f5f7!important; */
}
li {
  padding: 0.5vh!important;
  font-family: 'Montserrat', sans-serif!important;
  /* font-size: 1.8vh!important; */
}
.table2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.3vh!important;
  width: 100%!important;
  color: white!important;

}
.table-responsive{
  /* display:inline!important; */
  /* width: 19830px!important; */
}
.thead2{
  background-color: #011b3a!important;
  color: white!important;
  font-weight: bold;
  /* width: 100vh!important; */
}
.th2{
  background-color: #cfd2d6!important;
}
.dropdown-menu{
  background-color: black!important;
  color: black!important;
}
.dropdown:hover{
  cursor: pointer!important;
}
.dropdown-item:hover{
  background-color: grey!important;
}

/* Product 2 css -----------------------------*/
.part2{
  /* margin-top: -10vh; */
  padding-top: 15vh;
}

.c1b,.c2b,.c3b,.c4b{
  margin:0px!important;
  padding: none!important;
  /* -moz-box-shadow:    20px 30px 30px #bab9b8!important;
  -webkit-box-shadow:  20px 30px 30px #bab9b8!important;
  box-shadow:          20px 30px 30px #bab9b8!important; */
    height:30vh!important;
}
.c1b:hover,.c2b:hover,.c3b:hover,.c4b:hover{
  /* font-size: 2.1vh; */
  cursor: pointer;
  /* -moz-box-shadow:    30px 30px 30px #bab9b8;
  -webkit-box-shadow:  30px 30px 30px #bab9b8;
  box-shadow:          30px 30px 30px #bab9b8; */
  transform: scale(1.05);
  transition: 0.5s;

}
.c1b{
  background-image: url("../images/PTS.jpg");
  /* background-attachment: fixed; */
  background-size: contain;
  background-size: cover;
}
.c2b{
  background-image: url("../images/PTS.jpg");
  background-size: contain;
  background-size: cover;
}
.table2Head{
  color:black!important;
  margin-top: 10vh!important;
  width: 170vh!important;
  font-family: 'Days One', sans-serif !important;
  font-size:3.4vh!important;
}
.feat2{
  width: 170vh!important;
}

.pagefooter{
  margin-top:5vh!important;

}
/* ----------------modal styles----------- */
.card-footer{
  font-family: 'Montserrat', sans-serif !important;
  font-size:2.0vh!important;
}
.modaltab1{
  margin-top: 10vh!important;
  height: 25vh!important;
}
tr{
  padding: 2vh!important;
}
.modCont1{
  height: 65vh!important;
  width: 60vh!important;
  overflow-x: hidden!important;
}
.modaltab2{
  margin-top: 10vh!important;
  height: 55vh!important;
}
tr{
  padding: 2vh!important;
}
.modCont2{
  height: 58vh!important;
  width: 60vh!important;
  overflow-x: hidden!important;
}



  @media screen and (max-width: 600px) {
    .table2{
      margin-left: -115vh!important;
      text-align: left!important;
      font-family: 'Montserrat', sans-serif;
      font-size:1.3vh!important;
      width: 30%!important;
      color: white!important;
      scroll-behavior: auto !important;
      overflow-x: scroll!important;

  }
  .card_usp{
    font-size: 1.8vh!important;
  }
  .modaltab1, .modaltab2{
    margin-top: 10vh!important;
    height: 25vh!important;
  }
  tr{
    padding: 2vh!important;
  }
    .modCont1, .modCont2{
      height: 80vh!important;
      width: 100%!important;
    overflow-x: hidden!important;
  }
  .pagefooter{
    font-size: 1.5vh!important;
  }
}
