body{
 overflow-x: hidden !important;
}

#navbar{

  background-color: rgba(0,0,0,1) !important;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#FFFFFF!important;
}
a span{
  color:#FFFFFF !important;
}


.dropdown:hover{
  cursor: pointer!important;
}
.dropdown-item:hover{
  background-color: grey!important;
}


.dropdown-menu{
  background-color: black!important;
  color: black!important;
}


.flexHead{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
}

.contfluid{
  padding-left: 0vh!important;
  padding-right: 0vh!important;
  /* max-height: 600vh!important; */
}

.pagefooter{
  /* margin-top: 10vh!important; */
  background-image: url('../images/footer.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: white;
  padding:4vh;

}
.copyright{
  margin-top: 10vh;
}
.blockHead{
  margin-top: 10vh;
  font-family: 'Days One', sans-serif !important;
  font-size:4.5vh!important;
  color: white;
  text-shadow: 2px 2px black;
}



@media screen and (max-width: 600px) {
  h1{
    font-size: 0.5vh!important;
    margin-left:0px;
    writing-mode: vertical-lr;
   text-orientation: upright;
  }
  .pagefooter{
    font-size: 1.5vh!important;
  }
}
