body{
 overflow-x: hidden !important;
}

#navbar{
  background-color: rgba(0,0,0,1) !important;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#FFFFFF!important;
}
a span{
  color:#FFFFFF !important;
}
.navbar-toggler{
  color:white!important;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  width: auto;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navUl{
  padding-right::
}
#slide1logo,#slide2logo,#slide3logo{
  margin-top: -70vh;
  height:50vh!important;
  width:auto;
}
.slide1{
  background-image: url('../images/pcb3.jpg');
   background-attachment: fixed;
}
.slide2{
  background-image: url('../images/car.jpg');
   background-attachment: fixed;
}
.slide3{
  background-image: url('../images/rail.jpg');
   background-attachment: fixed;
}
.lead{
  font-family: 'Montserrat', sans-serif;
  font-size:2.6vh!important;
}

.dropdown:hover{
  cursor: pointer!important;
}
.dropdown-item:hover{
  background-color: grey!important;
}


.dropdown-menu{
  background-color: black!important;
  color: black!important;
}
.contMain{
  padding-left: 10vh;
  padding-right: 10vh;
  font-family: 'Righteous', cursive!important;
  font-size: 10vh!important;
  background-color:#a9c4ce;
  background-position: center;
  padding-left: 0vh!important;
  padding-right: 0vh!important;
  color: !important;
  height: 20vh!important;
  /* position: relative;
  top: 50%; */
}

.info{
  /* padding:5vh; */
  padding-top: 12vh;

   background-image: linear-gradient(#a9c4ce, #FFFFFF)!important;
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* background: no-repeat; */
  /* background-color: #020202!important; */
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  /* background-attachment: fixed; */
}
/* .info:hover{
  cursor: pointer;
  box-shadow: black 2px,2px;
} */
.col0{
  padding:5vh;
  text-align: justify;
  align-items: center;
  margin: auto;
}
.etrack{
  font-size: 2.6vh!important;
  background-color: rgba(0,0,0,0.7)!important;
  border-radius: 20px!important;
  border-color: red!important;
}
.etrack:hover{
  background-color: rgba(0,0,0,1)!important;
  cursor: pointer;
}
.wwd{
  padding-top: 15vh!important;
}
.card{
  /* margin-top: 20vh; */
  margin: auto;
  background: none;
  height: 57vh;
  width:35vh;

}

.c1{
  background-image: url("../images/wwd1.jpg");
  background-attachment: fixed;
}
.c2{
  background-image: url("../images/wwd2.jpg");
  background-attachment: fixed;
  background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.c3{
  background-image: url("../images/wwd3.jpeg");
  background-attachment: fixed;
  background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.c4{
  background-image: url("../images/wwd4.jpeg");
  background-attachment: fixed;
  /* background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; */
}
.wwdInner{
  margin-top: 2svh;
  padding-top: 8vh;
  padding-bottom: 8vh;
  /* margin-left: 5vh!important; */
  /* margin-right: 5vh!important; */
  /* border-style: solid;
  border-radius: 50px;
  border-width: 1.5px;
  border-color: blue; */
  /* padding:8vh;
  padding-left: 8vh; */
}
.wwdHead{
  font-size: 5vh;
  font-family: 'Days One', sans-serif !important;
  color: black;
  text-align: center;
}
#slide1logo,#slide2logo, #slide3logo  {
  max-width: 100%;
   height: auto;
}
#slide1logo{
  /* padding-top: 10vh; */
}
.hover-active:hover{
  /* font-size: 2.1vh; */
  cursor: pointer;
  /* -moz-box-shadow:    30px 30px 30px #bab9b8;
  -webkit-box-shadow:  30px 30px 30px #bab9b8;
  box-shadow:          30px 30px 30px #bab9b8; */
  transform: scale(1.2);
  transition: 0.5s;

}
.foot{
  background-color: rgba(0,0,0,0.6)!important;
  color:white;
}

.cont2{
  font-family: 'Roboto Slab', serif;
}
.cont2a{
  margin-top: 10vh;
  color: black;
  font-family: 'Days One', sans-serif !important;
  font-size: 8vh!important;
}
.cont2b{
  font-size: 3vh;
  color: white;
}
.cont2c{
color:black;
  margin-top: 18vh;
  font-size: 5vh;
    font-family: 'Days One', sans-serif !important;
    /* margin-bottom: 10vh; */
}
.cont2d{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size:2.0vh!important;
  /* padding-left: 10vh; */
  padding-right: 10vh;
  /* margin-bottom: 20vh; */
}

#type{
  color:red!important;
  font-size:2.5vh!important;
}

.type2{
  font-size:2.5vh!important;
}
#i0{
  width:205vh;
  /* position: absolute;*/
  margin-top: -55vh;
}

.typing{
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
}
#about{
  padding-top:45vh;
  color: black;
  font-size: 5vh;
  font-family: 'Days One', sans-serif !important;
  text-align: center;
}
.about_content{
  color: black;
  margin-top: 5vh;
  /* padding-right: 5vh; */
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
}
.clientHead{
  padding-top:0vh;
  font-size: 5vh;
  color: black;
  font-family: 'Days One', sans-serif !important;
  text-align: center;
  margin-top: 15vh;
}
.typing{
  color: black;
}
.clt0{
  padding:3vh;
}
.partners{
  height:14vh;
}

.pagefooter{
  margin-top: 5vh!important;
  background-image: url('../images/footer.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: white;
  padding:4vh;

}
.copyright{
  margin-top: 10vh;
}




.section2{
  margin-top:0;
  padding-bottom: 10vh;
  background-color:#000!important;
  /* background-attachment: fixed; */
}

.clients{
  background-color: white!important;
}
.partners{
  padding-right: 10vh!important;
}

/* media queries */
@media screen and (max-width: 600px) {
  #slide1logo,#slide2logo,#slide3logo{
    margin-top: 0vh !important;
    height:40vh!important;
    width:auto;
  }
  .col-sm-3{
    padding-bottom:2vh!important;
  }

  .wwdHead{
    margin-top: 25vh!important;
  }
  .pagefooter{
    font-size: 1.5vh!important;
  }

}
