body{
 overflow-x: hidden !important;
}

#navbar{
  background-color: rgba(0,0,0,0.7) !important;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#FFFFFF!important;
}
a span{
  color:#FFFFFF !important;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navUl{
  padding-right::
}
#slide1logo{
  margin-top: -70vh;
  height:50vh;
  width:auto;
}
.slide1{
  background-image: url('../images/pcb3.jpg');
   background-attachment: fixed;
}
.slide2{
  background-image: url('../images/car.jpg');
   background-attachment: fixed;
}
.slide3{
  background-image: url('../images/rail.jpg');
   background-attachment: fixed;
}
.lead{
  font-family: 'Montserrat', sans-serif;
  font-size:2.6vh!important;
}
.info{
  /* padding:5vh; */
  background-image:url("../images/bg.jpg")!important;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  background-attachment: fixed;
}
/* .info:hover{
  cursor: pointer;
  box-shadow: black 2px,2px;
} */
.col0{
  padding:5vh;
  text-align: justify;
  align-items: center;
  margin: auto;
}
.card{
  margin: auto;
  background: none;
  height: 37vh;
  width:55vh;
}
.card:hover{
  /* font-size: 2.1vh; */
  cursor: pointer;
  -moz-box-shadow:    30px 30px 30px #bab9b8;
  -webkit-box-shadow:  30px 30px 30px #bab9b8;
  box-shadow:          30px 30px 30px #bab9b8;
  transition: 0.5s;

}
.card-footer{
  background-color: #efefef!important;
}

.cont2{
  font-family: 'Roboto Slab', serif;
}
.cont2a{
  margin-top: 10vh;
  font-family: 'Days One', sans-serif !important;
  font-size: 8vh!important;
}
.cont2b{
  font-size: 3vh;
}
.cont2c{

  margin-top: 18vh;
  font-size: 5vh;
    font-family: 'Days One', sans-serif !important;
    margin-bottom: 10vh;
}
.cont2d{
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  /* padding-left: 10vh; */
  padding-right: 10vh;
  margin-bottom: 20vh;
}

#bow{
  width: 50vh!important;
}

#type{
  color:red!important;
  font-size:2.5vh!important;
}

.type2{
  font-size:2.5vh!important;
}
#i0{
  width:200vh;
  /* position: absolute;*/
  margin-top: -55vh;
}

.typing{
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
}

.clientHead{
  font-size: 5vh;
  font-family: 'Days One', sans-serif !important;
  text-align: center;
}

.clt0{
  padding:3vh;
}
.partners{
  height:14vh;
}

.pagefooter{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: white;
  padding:4vh;

}
.copyright{
  margin-top: 10vh;
}


/* carousel 3d */
/* .carousel-3d{
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #2d4aff;
  margin: 200px auto;

  .carousel-item{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-size: cover;
  }

  .carousel-item:nth-child(1){
      background-image: url(http://news.cctvnews.cn/news/3d457a4d3149544d/img/73233fb6-0afe-41d7-900d-ae3e2d088313.jpg);
    }

  .carousel-item:nth-child(2){}
      background-image: url(http://news.cctvnews.cn/news/3d55444e3249544d/img/ea65c16b-1a90-47ba-9997-46ddf0a7a32f.jpg);
    }

  .carousel-item:nth-child(3){
      background-image:url(http://news.cctvnews.cn/news/3d55444e3249544d/img/c91d9953-7b36-4da4-9174-7574b8239e2c.jpg);
    }

  .carousel-item:nth-child(4){
      background-image:url(http://news.cctvnews.cn/news/3d676a4d7949544d/img/b0c3e3c3-0161-4f15-bcd4-4380a3ca0bd2.jpg);
    }

*/
/* #waterwheel-carousel {
  width:1200px;
  height:650px;
  position:relative;
  clear:both;
  overflow:hidden;
  margin:0 auto;
}
#waterwheel-carousel img {
  visibility:hidden; 
  cursor:pointer;
}

.carouselimg{
  width:400px;
  height:600px;
} */
