body{
 overflow-x: hidden !important;
 background-color: #040505!important;
 color: white!important;
}
#navbar{
  background-color: rgba(0,0,0) !important;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#FFFFFF!important;
}
a span{
  color:#FFFFFF !important;
}
.pagefooter{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: white;
  padding:4vh;

}
.copyright{
  margin-top: 10vh;
}

.flexGal{
  margin-top: 10vh !important;
}
.r0{
  background-color: transparent!important;
}
.row2{
  margin-top: -5vh;
}
.c1,.c2,.c3,.c4{
  height:30vh!important;
}
.feat1gal{
  margin-top: 2vh;

}
.feat1Head{
  font-size: 5vh;
  color: white;
  font-family: 'Days One', sans-serif !important;
  text-align: center;
  margin-top: 15vh;
}
.c1,.c2,.c3,.c4{
  padding: 0vh!important;
  margin: 0vh!important;
  border: 0!important;
  border-radius: 0!important;
  /* -moz-box-shadow:    20px 30px 30px #bab9b8!important;
  -webkit-box-shadow:  20px 30px 30px #bab9b8!important;
  box-shadow:          20px 30px 30px #bab9b8!important; */
}
.c1:hover,.c2:hover,.c3:hover,.c4:hover{
  /* font-size: 2.1vh; */
  cursor: pointer;
  /* -moz-box-shadow:    30px 30px 30px #bab9b8;
  -webkit-box-shadow:  30px 30px 30px #bab9b8;
  box-shadow:          30px 30px 30px #bab9b8; */
  transform: scale(1.05);
  transition: 0.5s;

}
.c1{
  background-image: url("../images/P6_IVD.jpg");
  /* background-attachment: fixed; */
  background-size: contain;
  background-size: cover;
}
.c2{
  background-image: url("../images/P10_IVD.jpg");
  background-size: contain;
  background-size: cover;
}
.c3{
  background-image: url("../images/P10_OVD.jpg");
  background-size: contain;
  background-size: cover;
}
.c4{
  background-image: url("../images/P16_OVD.jpg");
  background-size: contain;
    background-size: cover;
}


.foot{
  background-color: rgba(0,0,0,0.6)!important;
  color:white;
}
.feat1{
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
}
.table1Head{
  font-family: 'Days One', sans-serif !important;
  font-size:2.4vh!important;
  /* margin-top: 5vh!important;
  margin-bottom: 3vh!important; */
}
table.highlight tbody tr:hover {
    background-color: #e3e6ea !important;
}
.thead1{
  background-color: #002e7a!important;
  color: white;
  font-weight: bold;
}
.th1{
  background-color: #e3e6ea!important;
}
.usp1{
  /* background-color: red!important; */
  width:170vh!important;

  margin-top: 2vh!important;
}
.usp1Head{
  font-family: 'Days One', sans-serif !important;
  font-size:3.0vh!important;
  margin-top: 8vh!important;
  width:170vh!important;
}
.card_usp{
  outline: 2px dashed blue;
  padding: 2vh!important;
  background-color: #040505!important;
  font-size: 2.6vh!important;
  width: 100%!important;
  margin:0px!important;
  padding: none!important;
}
.card_usp:hover{
  /* transform: scale(1.01); */
  transition: 0.4s;
  /* background-color: #f4f5f7!important; */
}
li {
  padding: 0.5vh!important;
  font-family: 'Montserrat', sans-serif!important;
  /* font-size: 1.8vh!important; */
}
.table2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5vh!important;
  width: 100%!important;
  color: white!important;

}
.table-responsive{
  /* display:inline!important; */
  /* width: 19830px!important; */
}
.thead2{
  background-color: #b71203!important;
  color: white;
  font-weight: bold;
  /* width: 100vh!important; */
}
.th2{
  background-color: #242828!important;
}

/* Product 2 css -----------------------------*/
.c1b,.c2b,.c3b,.c4b{
  /* -moz-box-shadow:    20px 30px 30px #bab9b8!important;
  -webkit-box-shadow:  20px 30px 30px #bab9b8!important;
  box-shadow:          20px 30px 30px #bab9b8!important; */
    height:30vh!important;
}
.c1b:hover,.c2b:hover,.c3b:hover,.c4b:hover{
  /* font-size: 2.1vh; */
  cursor: pointer;
  /* -moz-box-shadow:    30px 30px 30px #bab9b8;
  -webkit-box-shadow:  30px 30px 30px #bab9b8;
  box-shadow:          30px 30px 30px #bab9b8; */
  transform: scale(1.05);
  transition: 0.5s;

}
.c1b{
  background-image: url("../images/vms1.jpg");
  /* background-attachment: fixed; */
  background-size: contain;
  background-size: cover;
}
.c2b{
  background-image: url("../images/vms2.jpeg");
  background-size: contain;
  background-size: cover;
}
.c3b{
  background-image: url("../images/vms3.jpg");
  background-size: contain;
  background-size: cover;
}
.c4b{
  background-image: url("../images/vms4.jpg");
  background-size: contain;
    background-size: cover;
}
.table2Head{
  margin-top: 10vh!important;
  width: 170vh!important;
  font-family: 'Days One', sans-serif !important;
  font-size:3.4vh!important;
}
.feat2{
  width: 170vh!important;
}

.pagefooter{
  margin-top:5vh!important;

}
/* ----------------modal styles----------- */
.modaltab1{
  margin-top: 10vh!important;
  height: 85vh!important;
}
tr{
  padding: 2vh!important;
}
.modCont1{
  height: 88vh!important;
  width: 60vh!important;
  overflow-x: hidden!important;
}
