body{
 overflow-x: hidden !important;
 background-image: linear-gradient(#FFFFFF, #a9c4ce);
 background-attachment: fixed;
}
#navbar{
  background-color: rgba(0,0,0) !important;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#FFFFFF!important;
}
a span{
  color:#FFFFFF !important;
}
/* ----------------------------------------------------------- */
.form0{
  padding:2vh;
  padding-left:30vh!important;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2vh;
  /* width: 50vh!important; */
}

.cont{
  text-align: center!important;
}
.content{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2vh;
}
.inp{
  margin-bottom: 20px;
  padding: 0.6vh!important;
  border-radius: 10px;
  width:70vh!important;
}
.content{
  top:15vh;
  height: 100vh!important;
}
.address{
  padding-left:45vh!important;
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-size: 2vh;

}

.img{
  height: 100%!important;
  /* background-color: red; */
  /* background-image: url('../images/contact2.jpg'); */
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/* background-size: cover; */
}
#gmap{
  margin-top: 10vh!important;
  height: 90%!important;
  width: 100%!important;
}
.cont{
  height: 100%;
}
.navBtn{
  color: white!important;
}

.dropdown:hover{
  cursor: pointer!important;
}
.dropdown-item:hover{
  background-color: grey!important;
}

.dropdown-menu{
  background-color: black!important;
  color: black!important;
}
.head{
  margin-top: 15vh;
  color:black;
  font-size: 5vh;
  font-family: 'Days One', sans-serif !important;
}
/* ----------------------- */

/* ----------------------------- */
.pagefooter{
  background-image: url('../images/footer.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: white;
  padding:4vh;

}
.copyright{
  margin-top: 10vh;
}
.navbar-toggler-icon{
  color:white!important;
}

/* -------------media queries-------------- */

@media screen and (max-width: 600px) {
  .pagefooter{
    margin-top: 90vh!important;
  }
  .form0{margin-left: -18px!important;
    padding-left: 0vh!important;
    padding-right: 2vh!important;
    border-radius: 0px!important;
    max-width:40vh!important;
  }
  .inp{
    max-width: 80vh!important;
    padding-left: 0vh!important;

  }
  #bt{
    margin-left: -12vh!important;
  }
  .pagefooter{
    font-size: 1.5vh!important;
  }
}
