@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Montserrat', sans-serif!important   ;
  color: white!important
  background: #FFFFFF!important;
  /* padding: 40px 20p  ; */
  overflow-x: hidden !important;
}

#navbar{
  background-color: rgba(0,0,0,1) !important;
  color:white!important;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15vh!important;
  font-weight:300!important;
}
a{
  color:#FFFFFF!important;
}
a span{
  color:#FFFFFF !important;
}
/* ---------------------------------- */

/* ----------------------- */
.pagefooter{
  background-image: url('../images/footer.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-size:2.0vh!important;
  color: white;
  padding:4vh;
  /* position: absolute;  */
  position: relative;
  z-index: 100;

}
.copyright{
  margin-top: 10vh;
}/* The side navigation menu */

.news0{
  padding-left: 40vh!important;
}
.news{
  padding: 4vh!important;
  padding-left: 44vh!important;
  /* margin-right: 20vh!important; */
  /* margin-right: 100vh!important */
  /* width: 150vh!important; */
}
.content{
   font-size: 2.2vh!important;
}
.sidenav {
  margin-top:7vh!important;
  height: 100%;
  width: 40vh!important;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image:url("../images/newsbg4.jpg");
  background-position: center;
  /* po */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a:hover{
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  /* transition: 0.8s!important; */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2vh!important;
  color: #818181;
  display: block;
  transition: 0.3s;
}
h1{
  font-family: 'Righteous', cursive!important;
}
#c01{
  margin-top: 12vh!important;
}
/* .sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 4vh;}
} */
@media screen and (max-width: 600px) {
    .sidenav{
      width: 20vh!important;

    }
    .sidenav a{
      padding-left: 1vh!important;
    }
    .news{
      /* margin-left: 18vh!important; */
      padding-left: 22vh!important;
    }
    .content{
       font-size: 1.6vh!important;
    }
    h1{
      font-size: 2.8vh!important;
    }
    #c01{
      margin-top: 10vh!important;
    }
    .pagefooter{
      font-size: 1.5vh!important;
    }
}
